@import "~bulma/bulma";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  min-height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.minimum-height {
  min-height: 100vh;
}

$white: #ffffff;
$black: #070724;
$paynesGray: #38384f;
$lightGray: #838391;
$turqoise: #419ebb;
$orange: #eda249;
$purple: #6f2ed6;
$red: #d14c32;
$redTwo: #d83a34;
$redThree: #cd5120;
$green: #1ec2a4;
$blue: #2d68f0;

$antonio-font: "Antonio", sans-serif;
$spartan: "League Spartan", sans-serif;
$spartanReg: 400;
$spartanBold: 700;
$antonioBold: 700;
$antonioMedium: 500;

$h1Size: 80px;
$h1SizeMobile: 40px;
$planet-name: clamp(2.5rem, 1.875rem + 3.571vw, 5rem);
$h2Size: 40px;
$h3Size: 12px;
$h4Size: 11px;
$h1Line: 103px;
$h2Line: 52px;
$h3Line: 25px;
$h4Line: 25px;
$tab-btns: clamp(0.563rem, 0.516rem + 0.268vw, 0.75rem);
$h2LineSizing: -1.5;
$h3LineSizing: +2.5;
$h4LineSizing: +0.2.6;
$bodySize: 14px;
$bodyMobileSize: 11px;
$bodyLine: 25px;
$footerDataHeading: clamp(0.5rem, 0.453rem + 0.268vw, 0.688rem);
$footerDataValue: 20px;

.bg-img {
  background: {
    image: url(../public/assets/background-stars.svg);
    position: center center;
    repeat: no-repeat;
    size: cover;
    color: $black;
  }
}

.border {
  border-bottom: 1px solid $white;
}

.border-full {
  border: 1px solid $lightGray;
}

.no-bg {
  background-color: transparent;
  color: $lightGray;
  font-size: 12px;
  font-family: $spartan;
  font-weight: $spartanBold;
  &:hover {
    background-color: $paynesGray;
  }
}

.logo {
  font-family: $antonio-font;
  font-weight: $antonioMedium;
}
// Media queries

.planet-list {
  @include until($tablet) {
    display: none;
  }
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $spartan;
    font-weight: $spartanBold;
    color: $lightGray;
    font-size: 11px;
    padding: 1rem 0;
  }
  li {
    transition: all 0.5s ease-in-out;
    &:hover {
      border-top: 1px solid green;
      color: $white;
    }
  }
}

// .nav-background {
//   background-color: inherit;
// }

.planet-img {
  padding: 4rem;
  margin-bottom: 8em;
  @include tablet {
    padding: 0;
  }
  img {
    width: 300px;
    height: auto;
    display: block;
  }
}

.geology-img {
  // padding: 4rem;
  left: 33%;
  top: 72%;
  position: absolute;
  @include tablet {
    left: 26%;
    top: 80%;
  }
  img {
    width: clamp(6.25rem, 5.313rem + 5.357vw, 10rem);
    height: auto;
    display: block;
  }
}

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin widescreen {
  @if $widescreen-enabled {
    @media screen and (min-width: $widescreen) {
      @content;
    }
  }
}

@mixin fullhd {
  @if $fullhd-enabled {
    @media screen and (min-width: $fullhd) {
      @content;
    }
  }
}

.bulma-responsive {
  // color: white;

  // @include mobile {
  //   background: lightgreen;
  // }

  @include tablet {
    flex-direction: column;
  }

  @include desktop {
    flex-direction: row;
  }

  // footer data

  // @include widescreen {
  //   background: lightseagreen;
  // }

  // @include fullhd {
  //   background: darkolivegreen;
  // }
}

.footer-data-responsive {
  @include mobile {
    display: flex;
    flex-direction: column;
    // justify-content: center;
  }

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}

.footer-data-responsive-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include tablet {
    // margin: 0 1em;
    flex-direction: column;
    align-items: baseline;
  }
}

a.navbar-burger {
  @include tablet {
    display: none;
  }
}

.mobile-nav {
  border-bottom: 1px solid $white;

  @include tablet {
    display: none;
  }
  button {
    font-size: 9px;
    color: $lightGray;
    background: none;
    border: none;
  }
}

.desktop-options {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: $tab-btns;
    font-weight: $spartanBold;
  }

  button {
    max-width: 100%;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    display: inline-flex;
    justify-content: flex-start;
    text-transform: uppercase;
  }
}

.tab-btns {
  &:active {
    border-bottom: 3px solid green;
  }
}
.tab-value {
  color: $white;
  margin-left: 1rem;
}

.planet-text-container {
  @include mobile {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
  }

  @include tablet {
    // display: flex;
    // flex-direction: row;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 6rem;
  }
  @include desktop {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}

.planet-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet {
    align-items: baseline;
  }
}

.source {
  font-family: $spartan;
  font-weight: $spartanReg;
  font-style: normal;
  color: $lightGray;
  font-size: 12px;

  .source-heading {
    color: $paynesGray;
    font-weight: $spartanBold;
    margin-right: 1rem;
    text-decoration: none;
  }
  :nth-child(2) {
    text-decoration: underline;
  }
}

.grid {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-items: center;

  @include tablet {
    grid-template-rows: repeat(2, auto);
  }

  @include desktop {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
}

.heading-one-font {
  font-size: $planet-name;
  font-family: $antonio-font;
  font-weight: $antonioMedium;
  // @include tablet {
  //   font-size: $bodySize;
  // }
}

.mobile-widths-footer {
  width: calc(100% - 10%);
  @include desktop {
    width: calc(100vw - 20%);
  }
}

.mobile-widths-planet-data {
  width: calc(100% - 10%);
  @include desktop {
    max-width: 60%;
  }
}

.body-size {
  font-size: $bodyMobileSize;
  font-family: $spartan;
  font-weight: $spartanReg;
  margin-bottom: 2rem;
  color: $lightGray;
  $bodyLine: 25px;
  @include tablet {
    font-size: $bodySize;
  }
}

.footer-data-heading {
  font-size: $footerDataHeading;
  font-weight: $spartanBold;
  font-family: $spartan;
  color: $lightGray;
}

.footer-data-value {
  font-size: $footerDataValue;
  color: $white;
  font-weight: 800;
  font-weight: $antonioMedium;
  font-family: $antonio-font;
  @include tablet {
    font-size: 24px;
  }
  @include desktop {
    font-size: 40px;
  }
}

.planet-container {
  display: flex;
  flex-direction: row;
  @include tablet {
    flex-direction: column;
  }
  .planet-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: $white;
  }
}

.sidebar {
  width: 100vw;
  height: 200vh;
  position: absolute;
  z-index: 500;
  top: 85px;
  left: -100%;
  bottom: 0;
  right: 0;
  background-color: $black;

  .sidebar-list {
    .sidebar-item {
      border-bottom: 1px solid $white;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: $spartan;
    }
  }
}
